
body{
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

*{
  margin: 0;
}


.btn{
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}