

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  align-content: center;
  font-family: "Poppins", sans-serif;
  background-color: hsl(275, 100%, 97%);
  padding: 1rem;
}

.container{
  margin: auto;
  max-width: 600px;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
}


.ask{
  display: flex;
  justify-content: space-between;
}

p{
  margin: 5px;
}

.btn{
  background-color:hsl(292, 42%, 14%) ;
  border: none;
  padding: 10px;
  color: white;
  font-family: inherit;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
  background-color:hsl(292, 16%, 49%) ;
}
