


body{
  height: 100vh;
  align-content: center;
  overflow: hidden;
  background-color: rgb(83, 180, 180);
}


.image img{
  width: 100%; 
  border-radius: 15px;
  box-shadow: -3px 5px 10px 8px #0000006b;
}


.btn{
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
}


.prev{
  left: 10px;
}

.next{
  right: 10px;
}

.icon{
  width: 30px;
 
}

.slider{
  display: flex;
  align-items: center;
  position: relative;
  
 
}


.container{
  position: relative;
  max-width: 600px; 
  margin: auto;
}


.pointers{
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 20px;
}

.pointer{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
  border: none;
  cursor: pointer;
}

.active{
  background-color: white;
}